@import './utils';

.contact-us {
    margin: 1rem;
    grid-gap: 5rem;
    .left-show {
        h1 {
            color: $primary-color;
        }
    }
    .button {
        background-color: $primary-color;
        width: 100%;
        &:hover {
            background-color: $primary-color;
        }
    }
}